@import "tailwindcss";

@theme {
  --breakpoint-xl: 77rem; /* 1230px */
}

:root {
  --primary-color: var(--color-slate-950);
  --secondary-color: var(--color-blue-900);
  --tertiary-color: var(--color-blue-400);
}

html {
  scroll-behavior: smooth;
}

body {
  height: max-content;
}
